@media (max-width: 1400px) {
  .menu__item {
    &:last-child .menu__sublist {
      right: 0;
      left: auto;
      transform: none;
    }
    &:first-child .menu__sublist {
      left: 0;
      transform: none;
    }
  }
}
